.button
{
-fx-background-color :  #E8EBF7;
-fx-border-color: #011638;
    -fx-border-radius: 10;
-fx-text-fill:  #011638;
    -fx-font-family: "Montserrat-Light";
    -fx-font-size: 12;
}
.button:hover
{
-fx-background-color : 	#778899 ;
-fx-text-fill:   #E8EBF7;
    -fx-border-radius: 10;
    -fx-font-family: "Montserrat-Light";
    -fx-font-size: 12;

}
.button:pressed
{
-fx-background-color : #0C39FF ;
-fx-text-fill: #FFF;
    -fx-border-radius: 10;
    -fx-font-family: "Montserrat-Light";
    -fx-font-size: 12;

}

.buttonx
{
-fx-background-color :  #fff;
-fx-border-color: #0C39FF;
-fx-text-fill:  #0C39FF;
}
.buttonx:hover
{
-fx-background-color : #0C3988 ;
-fx-text-fill:   #FFF;
}
.buttonx :pressed
{
-fx-background-color : #0C3400 ;
-fx-text-fill: #FFF;
}


.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:   #2D75E8;
}
.table-view .column-header .label{

   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #000000;
  -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
 }
 .table-row-cell:selected .text {
        -fx-fill : white ;
 
 }
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(  #2D75E8,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2D75E8,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('BebasNeue-Regular.ttf');
}

.label1 {
    -fx-font-family: "BebasNeue-Regular";
    -fx-font-size: 19;
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url('Montserrat-Light.ttf');
}

.label2 {
    -fx-font-family: "Montserrat-Light";
    -fx-font-size: 16;
    -fx-text-fill:  #5383ff;
    -fx-background-color:transparent;
}